.label, label, dt label {
	display: block;
  font-weight: normal;
  font-style:italic;
  color: #666;
  margin: 0;
  padding: 0;
}

label.inline {
	display:inline;
}


.fieldWithErrors input,
.fieldWithErrors textarea,
.fieldWithErrors select {
  border: 1px solid #510; /*background: #F69A91;*/
}

input[type='text'], input[type='password'], 
input[type='checkbox'], input[type='file'],
select, textarea {
  border: 1px solid #ddd;
  border-top: 1px solid #aaa;
  border-left: 1px solid #aaa;
  font-family: "Lucida Grande", Lucida, Helvetica, sans-serif;
  font-size: 100%;
  padding: 0.2em;
}

input[type='text']:focus, textarea:focus {
  background: #fff;
  color: #000;  
}


input[type='submit'] {
  padding: 0.1em;
  font-size: 100%;
}



input[type='text'].big,
select.big { font-size: 160% !important; width: 98%;}
input[type='text'].lil,
select.lil { font-size: 80%; }
input[type='text'].fat,
select.fat { width: 100%;}

input[type='text'].tiny { width: 50px; }


input[type='text'],
input[type='password'] { width: 250px; }

#messages_index #page #sidebar #note_note{
 width: 220px;
}

.calendar_date_select select { width: 70px;}
.calendar_date_select > div { width: 250px;}
.calendar_date_select > div.cds_footer { padding: 3px 0;}

input[type='text'].s,
select.s { width: 50px}
input[type='text'].l,
select.l { width: 99%; }

/*textarea { width: 98%; }*/
textarea { width: 99%; height: 8em; }
textarea.s { height: 60px;}
textarea.n { height: 120px;}
textarea.l { height: 240px;}


ul.options {
	list-style: none;
	margin: 0;
}

.options li { line-height: 1.7;}

ul.options label {
	display: inline;
	padding: 0 5px;
}

.buttons a, .buttons button, a.button{
	font-family:"Lucida Grande", Tahoma, Arial, sans-serif;
	float:left;
	margin:0 .7em 0 0;
	text-decoration:none;
	background-color:#f5f5f5;
	border:1px solid #dedede;
	border-right:1px solid #bbb;
	border-bottom:1px solid #BFBFBF;
	padding:5px 10px 6px 10px;
	display:block;
	cursor:pointer;
	font-size:100%;
	line-height:130%;
	color:#333;
	font-weight:bold;
	-webkit-border-radius:12px;
	}
a.button{
	float:none;
	display:inline;
	display:inline-block;
	}
.buttons button{
	width:auto;
	overflow:visible;
	font-weight:bold;
	padding:4px 10px 3px 7px; 
	}
.buttons button[type]{
	width:auto;padding:5px 10px 5px 7px; 
	line-height:17px; 
	}
*:first-child+html .buttons button[type]{
	padding:4px 10px 3px 7px; 
	}
.buttons button img, .buttons a img, a.button img{
	margin:0 3px -3px 0 !important;
	}
.buttons button:hover, .buttons a:hover, a.button:hover{
	background-color:#dff4ff;
	border:1px solid #A7CEDF;
	color:#336699;
	}
.buttons a:active, a.button:active{
	background-color:#6299c5;
	border:1px solid #6299c5;
	color:#fff;
	}
button.positive, a.positive{
	color:#529214;
	}
a.positive:hover, button.positive:hover{
	background-color:#E9EFD1;
	border:1px solid #AACF81;
	color:#529214;
	}
a.positive:active{
	background-color:#529214;
	border:1px solid #529214;color:#fff;
	}
a.negative, button.negative{
	color:#d12f19;
	}
a.negative:hover, button.negative:hover{
	background:#fbe3e4;
	border:1px solid #EF959B;
	color:#d12f19;
	}
a.negative:active{
	background-color:#d12f19;
	border:1px solid #d12f19;
	color:#fff;
	}
.buttons a em, .buttons button em, a.button em{
	font-weight:normal;font-style:normal;
	}
.info .buttons{
	float:right;
	margin:6px 0 0 0;padding:0;
	}
.info .buttons a, .info .buttons button{margin:0 0 0 .7em;}

.notice form .buttons { margin: 20px 10px;}


