/*
===========================================================================================================
*=HEADER
===========================================================================================================
*/
#header {
  background: url(../images/header.png) no-repeat left top;
  position: absolute;
  top: 0;
  height: 103px;
  width: 100%;
  margin: 0;
  padding:0;
  text-align: left;
  z-index:1;
	}
	
	#header h1 {
		position: absolute;
		left: -9999px;
	}
	
	#site_functions {
		list-style: none;
		position:absolute;
		right:30px;
		top:5px;
		margin: 0;
		padding: 0;
		font-size: 90%;
		height: 103px;
		width: 32%;
		float :right;
		text-align: right;
		}
		#site_functions p {
			margin: 0;
			color: #fff;
			}
			#site_functions a {
				padding: 10px;
				}
	#navigation {
		position: absolute;
		right: 20px;
		top: 64px;
		font-size: 80%;
		line-height: 100%;
		}
		#navigation ul {
			padding: 0;
			list-style:none;
			}
		#navigation li {
			float:left;
			margin: 0;
			}
			#navigation li a {
				float:left;
				display:block;
				background: url(../images/nav_tab.png) no-repeat left top;
				height: 31px;
				width: 110px;
				padding-top: 8px;
				text-decoration: none;
				border: none;
				font-weight: bold;
				color: #fff;
				text-shadow: #333 2px 2px;
				outline: none;
				text-align: center;
				padding-right: 8px;
				}
			#navigation li a:hover {
				color: #000;
				text-shadow: none;
				}
			/* Commented Backslash Hack
			hides rule from IE5-Mac \*/
			#navigation li a {float:none;}
			/* End IE5-Mac hack */


/*
===========================================================================================================
*=BODY
===========================================================================================================
*/
#body{
	overflow:hidden;
	margin:133px 30px 0 30px;
	padding-right:300px; /* The width of the rail */
	}
* html #body{
	height:1%; /* So IE plays nice */
	}
	
	#main{
	  position:absolute;
		width:620px;
		top:130px;
		z-index: 2;
		}
		#flashes {
			margin-right: 30px;
			}
		#actions {
			margin-right: 30px;
			}
		#content {
			clear: both;
			margin-right: 30px;
			border: 1px solid #47b4cf;
			padding-bottom: 20px;
			padding: 10px 10px 20px 10px;
			}
		#footer {
		  clear:both;
			margin: 10px 0 30px 0;
			}
	#sidebar{
	    position:absolute;
	    width:300px;
	    left:660px;
	    top:130px;
	    z-index: 300;
		}