- content_for :actions do
  %li= link_to "New questionnaire", new_questionnaire_path

%table
  %thead
    %tr
      %th Title
      %th Caption
      %th Respondents
  = render :partial => @questionnaires
  %tfoot
    %tr
      %td{ :colspan => 3 }